.Header {
  background: #5361e4;
  background-size: 100%;
  width: 100% !important;
  min-width: 1440px !important;
  padding: 17px 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
}

.ul {
  display: flex;
  gap: 48px;
  color: white;
  cursor: pointer;
}

.headerbtn {
  width: 113px;
  height: 46px;
  padding: 8px, 24px, 8px, 24px;
  border-radius: 12px;
  background-color: white;
  margin-left: 30px;
}

.Main {
  width: 778px;
  height: 1400px;
  margin-top: 60px;
  border-radius: 24px;
  padding: 32px, 38px;
  background: white;
}

.PaddingH1 {
  padding: 8px, 24px, 8px, 24px;
}

.img {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #5361e4;
}

.Input {
  border: 1px solid #e3e3e3;
  width: 702px;
  height: 56px;
  border-radius: 10px;
  padding: 18px;
  margin-top: 5px;
  display: block;
}

.Links {
  width: 60px;
  height: 60px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  display: block;
}

.LinksParent {
  display: flex;
  gap: 8px;
}

.InputLast {
  border: 1px solid #e3e3e3;
  width: 702px;
  height: 148px;
  border-radius: 10px;
  padding: 18px;
  margin-top: 5px;
  display: block;
}

.headerbtnButEnd {
  width: 113px;
  height: 46px;
  padding: 8px, 24px, 8px, 24px;
  border-radius: 12px;
  margin-left: 30px;
}
